@import '../../components';

.contact-info {
  text-align: center;

  @media #{$large-mq} {
    margin-top: 0;
  }

  div.contact-detail {
    margin-bottom: 1em;
    @media #{$large-mq} {
      flex-flow: row nowrap;
    }

    i {
      margin-top: 0;
      
      @media #{$large-mq} {
        margin-right: 1em;
      }
    }
  }
}