@import '../../components';


.div-link {
  width: 100%;
  padding-right: 2em;
  
  .btn-link-holder {
    width: 100%;
    padding: 2em 0;

    .btn-link {
      width: 100%;
      text-align: left;
      padding-left: 1em;
    }
  }

  .arrow-right-icon {
    color: $accent-grey;
  }
}