@import '../../components';


.div-link {
  width: 100%;
  padding-right: 0em;
  
  .btn-link-holder {
    width: 100%;
    padding: 1em 0;
    height: auto;
    align-items: center;
    
    .btn-link {
      width: 100%;
      text-align: left;
      color: black;
      text-decoration: none;
    }
  }

  
}