@import '../../components';

.hero-section {
  background-color: $primary-blue;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .hero-text {
    font-size: 2.5em;
    text-align: center;
    color: $accent-white;
    font-family: $primary-font;

    @media #{$large-mq} {
      font-size: 4em;
      padding: 0 2em;
    }
  }

  .hero-cta-holder {
    margin-top: 2em;
    font-family: $secondary-font;
    width: 100%;
    justify-content: center;

    a {
      font-size: 1.3em;

      @media #{$large-mq} {
        font-size: 1.5em;
      }
    }
    
    .btn-link-holder {
      width: 50%;
      height: 60px;

      @media #{$large-mq} {
        width: 30%;
      }
  
      .btn-link {
        color: $accent-white;
      }
    }
    
  }
}
