@import '../../components';

.hero-section {
  background-color: $primary-blue;
  height: 98vh;
  align-items: center;
  justify-content: center;

  .hero-text {
    font-size: 3em;
    text-align: center;
    color: $accent-white;
  }

  .hero-cta-holder {
    margin-top: 2em;
  }
}