@import '../../components';

.article-card {
  width: 100%;
  border-top: 1px solid $accent-grey;
  border-bottom: 1px solid $accent-grey;
  padding: 1em;

  .article-card-header {
    justify-content: space-between;
  }

  .article-body {
    margin-top: 1em;
  }


  .plus-icon {
    color: $accent-grey;
  }
}