@import '../../components';

.newsletter-subscription-holder {
  margin: 1em 0;
  width: 100%;

  input {
    padding: .5em 1em;
    width: 90%;
    border: none;
    background-color: $accent-white;
    color: white;
    border-bottom: 1px solid $primary-pink;

    @media #{$large-mq} {
      width: 100%;
    }
  }
}