@import '../../components';

.about-section {
  width: 100%;
  margin-top: 5em;
  
  .sub-heading {
    margin: 1em;
    text-align: center;

    @media #{$large-mq}  {
      width: 14%;
    }
  }

  .about-intro {
    background-color: $primary-blue;
    color: $accent-white;
    // height: 70vh;
    align-items: center;
    text-align: center;

    @media #{$medium-mq}  {
      height: 40vh;
    }

    .main-heading {
      font-size: 2em;
      color: $accent-white;
    }
  

    .about-summary {
      @media #{$large-mq}  {
        width: 70%;
        font-size: 1.3em;        
      }
    }
  }

  .heading {
    text-align: center;
  }

  
  .who-we-are {
    width: 100%;
    margin-top: 1em;
    align-items: center;

    div.team-members {
      flex-wrap: wrap;
    }
  }

  .our-partners-section {
    align-items: center;
  }
}