@import '../../../components';

.contact-card {
  margin: 1em 0;
  font-family: $primary-font;

  @media #{$medium-mq} {
    text-align: center;
  }

  .contact-channel {
    @media #{$medium-mq} {
      font-size: 1.5em;
    }
  }

  .contact-detail {
    @media #{$medium-mq} {
      font-size: 1.5em;
    }
  }
}