@import '../../components';

.contact-section {
  justify-content: center;
  color: $accent-white;
  height: 100vh;
  background-color: $primary-blue;
  
  .heading{
    text-align: center;
    margin: 1em 0;
    font-size: 2.5em;
  }
}