@import '../../../components';

.partners-list {
  padding: 1em 0;
  margin: 2em 0;
  color: $accent-white;
  background-color: $primary-blue;
  width: 100%;

  .partner {
    width: 50%;
    text-align: center;
    margin: 1em 0;
  }
}