@import '../../components';

.footer {
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;

  .hotline {
    margin: 2em;
  }

  .school-closures {
    color: $primary-blue;
    margin: 1em;
    p {
      margin-left: .5em;
      font-size: 1.5em;
    }
  }

  .footer-links-holder {
    .footer-link {
      margin-top: 1em;
      text-decoration: none;
      color: $primary-blue;
    }
  }

  .newsletter-subscription-holder {
    margin: 2em;

    .heading {
      margin: 1em;
    }

    input {
      padding: .5em 1em;
      width: 100%;
      border: none;
      background-color: $accent-white;
      color: white;
      border-bottom: 1px solid $primary-pink;
    }
  }

  .copyright-info {
    margin: 1em;
    color: $primary-blue;
  }
}