@import './assets/scss/fontawesome.scss';
@import './assets/scss/regular.scss';
@import './assets/scss/brands.scss';
@import './assets/scss/solid.scss';

// primary-colors
$primary-blue: #2B279B;
$primary-grey: #2E2E2E;
$primary-pink: #FF7483;
$primary-orange: #FFD875;

// accent-colors
$accent-blue: #6FA8FF;
$accent-white: #FFF8EB;

// Breakpoints
$medium-bp: 768px;
$large-bp: 1024px;

// Media Queries
$medium-mq: "(min-width: #{$medium-bp})";
$large-mq: "(min-width: #{$large-bp})";