.row {
  display: flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.cta-btn {
  .white-outline {
    border-color: white;
  }

  .blue-outline {
    border-color: blue;
  }
}