@import './components';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

%row {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.row {
  @extend %row;
  flex-wrap: nowrap;
}

.row-with-wrap {
  @extend %row; 
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.no-bg-btn {
  background: 0 0;
  border: none;
}

.btn-link-holder {
  position: relative;
  display: block;
}

.btn-link {
  position: absolute;
  display: block;
  padding-top: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
}

.section {
  padding: 1em;
}

.pink-underline {
  border-bottom: 10px solid $primary-pink;
}

.blue-underline {
  border-bottom: 10px solid $accent-blue;
}


// buttons
%cta-btn {
  background: 0 0;
  border: 1px solid;
  padding: 1em;
  border-radius: 5px;
  margin-right: 1em;
}

.white-btn {
  @extend %cta-btn;
  border-color: white;
  color: $accent-white;
}

.blue-btn {
  @extend %cta-btn;
  border-color: blue;
}

// icons

.home-icon {
  @extend %fa-icon;
  @extend .fas;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-home)
  }
}

.twitter-icon {
  @extend %fa-icon;
  @extend .fab;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-twitter)
  }
}

.facebook-icon {
  @extend %fa-icon;
  @extend .fab;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-facebook)
  }
}

.email-icon {
  @extend %fa-icon;
  @extend .fas;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-envelope)
  }
}


.phone-icon {
  @extend %fa-icon;
  @extend .fas;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-phone-alt)
  }
}
.close-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-times)
  } 
}

.arrow-right-icon {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-arrow-right)
  } 
}