@import './components';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.home-icon {
  @extend %fa-icon;
  @extend .fas;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-home)
  }
}

.twitter-icon {
  @extend %fa-icon;
  @extend .fab;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-twitter)
  }
}

.facebook-icon {
  @extend %fa-icon;
  @extend .fab;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-facebook)
  }
}

.email-icon {
  @extend %fa-icon;
  @extend .fas;
  font-size: 1.3em;

  &:before {
    content: fa-content($fa-var-envelope)
  }
}