.team-member {
  width: 100%;
  text-align: center;
  margin: 1em 0;

  .team-member-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .team-member-description {
    margin: 1em;
  }
}